In [3]:
import pandas

DOBBS = "06-24-2022"

rc_recombo = pandas.read_excel('../data/processed/manual_recombo.xlsx')
print(rc_recombo[rc_recombo['inspection_date']<=DOBBS]["facility_id"].nunique())

rc_recombo[(rc_recombo["inspection_date"]>="01-01-2013")]["facility_id"].nunique()

400

340

In [4]:
rc_recombo.groupby(rc_recombo["inspection_date"].apply(lambda x: x.year)).agg({"key_identifier": "nunique"})

                 key_identifier
inspection_date
2011                         77
2012                         44
2013                         51
2014                         73
2015                         82
2016                         52
2017                         93
2018                         71
2019                         64
2020                         28
2021                         42
2022                         17

In [88]:
rc_recombo.groupby("deficiency_tag").agg({"key_identifier": "nunique"})

                key_identifier
deficiency_tag
2400                        77
2401                         3
2402                         4
2403                         4
2404                         9
2405                        84
2406                       270
2407                        88
2408                        15
2409                       128
2411                        12

In [76]:
rg_manual = pandas.read_excel("../data/manual/EMTALA_PREGNANT_2011-2022.xlsx")
rg_manual["inspection_date_dt"] = pandas.to_datetime(rg_manual["inspection_date"],errors="coerce")

print(rg_manual[rg_manual['inspection_date_dt']<=DOBBS]["facility_id"].nunique())
print(rg_manual[rg_manual['inspection_date_dt']>DOBBS]["facility_id"].nunique())

361
1

In [84]:
# Filter rg_manual for only facilities with a number -- as opposed to a string -- in Unnamed: 0
rg_manual_counted = rg_manual[rg_manual["Unnamed: 0"].apply(lambda x: (isinstance(x, int))|(isinstance(x, float))) & ~rg_manual["Unnamed: 0"].isna()]
rg_manual_counted["facility_id"].nunique()

rg_manual_counted[~(rg_manual_counted["inspection_date_dt"]<="01-01-2025")].head().transpose()

,1095,1096,1097,1098,1099
Unnamed: 0,592,593,594,595,596
facility_name,STONY BROOK UNIVERSITY HOSPITAL,SUNY HEALTH SCIENCE CENTER AT BROOKLYN UNIVERSITY,SOUTHEAST COLORADO HOSPITAL,MARCUM & WALLACE MEMORIAL HOSPITAL,MARCUM & WALLACE MEMORIAL HOSPITAL
hospital_type,Short Term,Short Term,Critical Access Hospitals,Critical Access Hospitals,Critical Access Hospitals
facility_id,330393,330350,61311,181301,181301
address,HEALTH SCIENCES CENTER SUNY,445 LENOX ROAD,373 E 10TH AVE,60 MERCY COURT,60 MERCY COURT
city,STONY BROOK,BROOKLYN,SPRINGFIELD,IRVINE,IRVINE
state,NY,NY,CO,KY,KY
deficiency_tag,2406,2405,2409,2400,2406
dfcncy_desc,MEDICAL SCREENING EXAM,EMERGENCY ROOM LOG,APPROPRIATE TRANSFER,COMPLIANCE WITH 489.24,MEDICAL SCREENING EXAM
inspection_date,NaN,NaN,NaN,NaN,NaN
EVENT_ID,1TX911,2QIR11,UKZ611,BZER11,BZER11
inspection_text,**NOTE- TERMS IN BRACKETS HAVE BEEN EDITED TO ...,**NOTE- TERMS IN BRACKETS HAVE BEEN EDITED TO ...,**NOTE- TERMS IN BRACKETS HAVE BEEN EDITED TO ...,"_x000d_\n_x000d_\n\nBased on interview, review...",**NOTE- TERMS IN BRACKETS HAVE BEEN EDITED TO ...
inspection_text2,NaN,NaN,NaN,NaN,NaN
index,592,593,594,595,596
key_identifier,2406 1TX911,2405 2QIR11,2409 UKZ611,2400 BZER11,2406 BZER11
year,2014,2013,2018,2014,2014
identifier,NaN,NaN,NaN,NaN,NaN
Unnamed: 17,NaN,NaN,NaN,NaN,NaN
Unnamed: 18,NaN,NaN,NaN,NaN,NaN
Unnamed: 19,NaN,NaN,NaN,NaN,NaN
Unnamed: 20,NaN,NaN,NaN,NaN,NaN
Unnamed: 21,NaN,NaN,NaN,NaN,NaN
Unnamed: 22,NaN,NaN,NaN,NaN,NaN
Unnamed: 23,NaN,NaN,NaN,NaN,NaN
Unnamed: 24,NaN,NaN,NaN,NaN,NaN
Unnamed: 25,NaN,NaN,NaN,NaN,NaN
inspection_date_dt,NaT,NaT,NaT,NaT,NaT

In [37]:
rg_manual[rg_manual['inspection_date_dt'].isna()]['inspection_date'].unique()

array([nan, ' staff interview',
       ' Ear/Nose & Throat. Othere specialties include Gastroenterologist',
       ' was told her appendix had ruptured and had surgery to remove her appendix. When asked if she was sure it was Hospital #1 that she went back to she stated',
       ' except for some mild chest tightness that she stated was her anxiety.  The catheter lock was discontinued',
       ' #22'], dtype=object)